.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePostImg {
  width: 95%;
  height: 355px;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 2.5%;
  margin-right: 2.5%;

}

.singlePostTitle {
  text-align: center;
  margin: 1rem;
  font-family: 'Lora', serif;
  font-size: 28px;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 1.20rem;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  color: #b39656;
  margin-left: 15px;
  margin-right: 15px;
}

.singlePostDesc {
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  color: darkslategrey;
  margin-left: 15px;
  margin-right: 15px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 25px;
  min-width: 600px;
  font-weight: 600;
}
