.write {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.writePost {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.writeForm {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.writeFormGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.labelInput {
  position: relative;
  top: 180px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color:white;
  
}


.addSuccesFull {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.writeInputTitle{
  text-align: center;
  margin-left: 31px;
  margin-bottom: 1rem;
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
  width: 50%;


}

.writeInputAuthor {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  color: #000;
  margin-left: 31px;
  width: 50%;
}

.writeInputDesc{
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  color: darkgray;
  margin-left: 31px;
  resize: none;
  width: 50%;


}

.writeSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 10%;
  margin-top: 40px;
  margin-left: 45%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 10px;
  min-width: 100px;
  border: none;
  background-color: teal;
}

.writePostImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 999;


}