.sidebar{
    flex: 3;
    margin-right: 0;
    padding-bottom: 30px;
    height: 40%;
    background-color: #fdfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    border-radius: 1.5rem;
    top: 10%;
    z-index: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
/* imagenes auxiliares */
.sidebarItem img{
    width: 25%;
    height: 25%;
    border-radius: 13%;
    object-fit: cover;
}

.sidebarItem > p {
    padding: 30px;

}

.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}

.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.sidebarSocial{
    margin-top: 15px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
} 
